@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: none; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif; }

.container {
  /* border: #000036 1px dashed; */
  position: relative;
  width: 95vw;
  max-width: 100rem;
  padding: 2rem 2rem;
  margin: 0 auto; }
  .container h2 {
    padding-left: 2rem;
    padding-bottom: .75rem;
    color: black;
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    border-bottom: 1px solid #000036; }
  .container section {
    padding: 2rem 2rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #000036; }
  .container h3 {
    margin-bottom: 1.5rem;
    text-decoration: underline;
    color: black; }
  .container .question {
    margin-bottom: 1rem;
    color: navy; }
  .container .result, pre {
    color: green;
    font-size: 1.5rem;
    font-family: 'Fira Code',Verdana, Geneva, Tahoma, sans-serif; }
    .container .result span.danger {
      color: crimson; }


.btn-light {
  font-size: 1.2rem;
  padding: .2rem 1rem;
}

.containerAA, .form-control, .btn-success, .form-check{
  font-size: 100% !important;
  margin-bottom: 1rem;
  }

.containerAA {
  /* border: #000036 1px dashed; */
  margin-left: -4rem !important;
  
}

.form-check-label {
  margin-left: 1rem;
  transform: translateY(-1px);
}

.contact {
  padding: 0 2rem;
}
