<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Contact Form</title>
</head>
<body>
    <div class="container-form">
        <form action="#">
            <div class="title">
                <h1>Contact</h1>
                <hr>
            </div>
        
        <label for="inp-name"></label>
        <input type="text" name="inp-name" id="inp-name" class="btn btn-name">
    
        <label for="inp-email"></label>
        <input type="text" name="inp-email" id="inp-email" class="btn btn-email">
    
        <label for="inp-message"></label>
        <input type="text" name="inp-message" id="inp-message" class="btn btn-message">
        
        <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>