<!DOCTYPE html>
<html>
    <head>
        <title>SocketIO</title>
    </head>
    <body>
        <input type="text" id="message">
        <button id="send">Send</button>

        <br>
        <br>
        <hr>
        <br>

        <h4>Session ID</h4>
        <input type="text" id="username">
        <button id="send_username">Send Username</button>

        <br>
        <br>
        <hr>
        <br>

        <h4>Send Private Message</h4>
        Send To: <input type="text" id="send_to_username">
        Message: <input type="text" id="private_message">
        <button id="send_private_message">Send</button>

        <br>
        <br>
        <hr>
        <br>

        <h4>Join Room</h4>
        Room to Join: <input type="text" id="room_to_join">
        <button id="join_room">Join Room</button>
        <button id="leave_room">Leave Room</button>

        <br>
        <br>
        <hr>
        <br>

        <button id="disconnect">Disconnect</button>
        

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
        </script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>