$color-primary: #ffefea;
$color-primary-dark: #e9967a;

$color-primary: #c5f5e1;
$color-primary-dark: #3ab07f;

$color-gray-1: #333333;

$bp-largest: 75em; //1200
$bp-large:  68.75em; //1100
$bp-big:  58.125em; // 930
$bp-medium:  40em; // 800
$bp-small:  37.5em; // 600
$bp-smallest:  27.5em;
$bp-new-small: 22.5em;
