<%- contentFor('main') %>

<main>
    <% if( errorMessage.length > 0 ) {%>
        <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
    <form class="login-form" action="/reset" method="POST">
        <input type="hidden" value="<%= csrfToken %>" name="_csrf">
        <div class="form-control">
            <label for="title">E-Mail</label>
            <input type="email" name="email" id="email">
        </div>
        <button class="btn" type="submit">Reset Password</button>
    </form>
</main>