*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;


    @include respond (tab_land) {
        font-size: 56.25%;              //1rem = 9px, 9 / 16 = 56.25%
    }
    @include respond (tab_port) {
        font-size: 50%;                 //1rem = 8px, 8 / 16 = 50%
    }
    @include respond (phone) {
        font-size: 43.75%;              //1rem = 7px, 7 / 16 = 43.75%
    }
    @include respond (big_desktop) {
        font-size: 75%;                 //1rem = 12, 12/16
    }
}

body {
    padding: 1rem;
    box-sizing: border-box;

    @include respond (tab_port) {
        padding: 0;                 
    }
}