.u-center-text { text-align: center;}

.u-margen-bottom-8 {margin-bottom: 8rem;}
.u-margen-bottom-6 {margin-bottom: 6rem;}
.u-margen-bottom-4 {margin-bottom: 4rem;}
.u-margen-bottom-2 {margin-bottom: 2rem;}
.u-margen-bottom-1 {margin-bottom: 1rem;}

.u-margen-top-8 {margin-top: 8rem;}
.u-margen-top-6 {margin-top: 6rem;}
.u-margen-top-4 {margin-top: 4rem;}
.u-margen-top-2 {margin-top: 2rem;}
.u-margen-top-1 {margin-top: 1rem;}