
.border {
    margin: 30px auto;
    padding: 20px;
    height: 90vh;
    width: 80%;
}
p {
    text-align: justify;
    text-justify: inter-word;
}
.myimage {
    width: 76%;
    position: absolute;
    bottom:9%;
    right:12%;
    opacity: .8;
    height: 300px;
}