
.btn {   

    &:link, &:visited, & {                                              // NOTE: & is for the button
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;  /* cause it is an inline element*/      // NOTE:
                                /* & by changing it we can add padding, width, etc */
        border-radius: 5rem;
        transition: all .1s ease;
        position: relative;       
        font-size: $font-size-default;
        
        /*Change for the <button> element*/
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: $box-shadow-3;

        &::after{
            transform: scaleX(1.4)scaleY(1.6);
            opacity: 0;
        }
    }

    &:active, &:focus{
        outline: none;
        transform: translateY(-.1rem);
        box-shadow: $box-shadow-4;
    }

    &::after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 5rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 1;
        transition: all .4s ease-in-out;
    }

    &--white {
        background-color: $color-white;
        color: $color-gray-dark;   

        &::after {            
            content: '';
            background-color: $color-white;  
        }
    }
    &--green {
        background-color: $color-primary;
        color: $color-white;   

        &::after {            
            content: '';
            background-color: $color-primary;  
        }
    }

    &--animation {
        animation: moveInBottom .4s ease-in .75s;
        animation-fill-mode: backwards;
    }
}


.btn-text {
    &:link, &:visited {
        cursor: pointer;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: .1rem solid $color-primary;
        padding: .3rem;
        font-size: $font-size-default;
        transition: .1s ease;
        
    }
    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: $box-shadow-3;
        transform: translateY(-.2rem);
    }

    &:active {
        box-shadow: $box-shadow-4;
        transform: translateY(-.1rem);
    }
}