.composition {
    position: relative;
    
    
    &__photo {
        width: 55%;
        box-shadow: $box-shadow-1;        
        position: absolute;
        outline-offset: 2rem;        
        background-color: transparent;
        transform: scale(.9999);
        transition: all .2s ease;
          

        img {
            width: 100%;
            object-fit: cover;
            display: block;
            border-radius: $border-radius;

        }

        &--p1 {left:   0; top: -2rem; }
        &--p2 {right:  0; top:  2rem; }
        &--p3 {left: 20%; top:  10rem;}

        &:hover {
            transform: scale(1.05)translateY(-.4rem);
            box-shadow: $box-shadow-2;
            z-index: 10;
           
            outline: 1.5rem solid $color-primary;            
        } 
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
        box-shadow: $box-shadow-4;
    }
}

