@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$col-black: rgb(0, 0, 0);
$col-red: crimson;
$col-blue: navy;
$col-green: green;

// ---------------------------------------------------------------------
//
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding:0;
    outline: none;   
}

html {
    font-size: 62.5%;    
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    box-sizing: border-box;
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
}

//----------------------------------------------------------------------

.container {
    
    width: 95vw;
    max-width: 100rem;
    padding: 2rem 2rem;    
    margin: 2rem auto;

    h2 {
        padding-left: 2rem;
        padding-bottom: .75rem;
        color: $col-black;
        margin-bottom: 2rem;
        font-size: 3rem;
        border-bottom: 1px solid rgb(0,0,54);
    }
    section {
        // border: 1px solid  $col-black;
        padding: 2rem 2rem;
        margin-bottom: 3rem;
        border-bottom: 1px solid rgb(0,0,54);
    }

    h3 {
        margin-bottom: 1.5rem;
        text-decoration: underline;
        color: $col-black;
    }

    .question {
       margin-bottom: 1rem;
       color: $col-blue;
    }

    .result {
        color: $col-green; 
        font-size: 1.5rem;
        font-family: 'Fira Code',Verdana, Geneva, Tahoma, sans-serif; 
        span.danger {
            color: $col-red; 
        }
    }    
}