.navigation {


    &__checkbox{
        display: none;
    }

    &__button {
        cursor: pointer;
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 4rem;
        right: 4rem;
        z-index: 111;
        box-shadow: $shadow_3;

        // text-align: center; // <- to center icon
        
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 4.5rem;
        right: 4.5rem;
        background-image: radial-gradient($color-primary-light 0%, $color-primary-dark 20%);
        z-index: 100;

        // transform: scale(60);
        transition: all .4s cubic-bezier(0.7, 0, 0.84, 0);

    }

    &__nav {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 105;

        opacity: 0%;
        transform: translateX(-100%);
        transition: all .5s cubic-bezier(.64,-0.43,.47,1.36);
        // transition-delay: .2s;

    }

    &__list {
        @include centerHorVer(-60%);
        list-style: none;
        text-align: center;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;

            font-size: 3rem; 
            font-weight: 300;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            padding: 1rem 2rem;
    
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 230%;
            transition: all .4s;

            span{
                margin-right: 1.5rem;
            }

            
        }
        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }


    // <--  Functionality  -->

    &__checkbox:checked ~ &__background {
        transform: scale(100);
        
    }

    &__checkbox:checked ~ &__nav{
        transform: translateX(0);
        opacity: 1;        
    }

    // <--  Icon  -->

    &__icon {

        @include centerHorVer(-60%);

        // To Center the icon you can also do:
        
        // centered by text-align in perent element (button)
        // margin-top: 3.3rem;

        // position: absolute;
        // top: 3.3rem;
        // right: 2rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-gray-dark-3;
            display: inline-block;

            transition: all .2s ease;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
        }
        
        &::before {top: -.8rem;}
        &::after {top: .8rem; }

        // transform-origin <- the pivot of the transformation (rotation) 
        // Not need it in this case!
        
        // &::before {top: -.8rem; transform-origin: center;}
        // &::after {top: .8rem; transform-origin: center;}
    }

    &__button:hover &__icon::before {
        top: -1.1rem;
    }

    &__button:hover &__icon::after {
        top: 1.1rem;
    }


    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        transform: rotate(135deg);
        top: 0;
    }
    &__checkbox:checked + &__button &__icon::after {
        transform: rotate(-135deg);
        top: 0;
    }

}