.section-about {
    background-color: $color-gray-light-1;
    padding: 30rem 0;
    margin-top: -25rem;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.65), rgba($color-primary-dark, .65)),
      url(../img/nat-4.jpg);
    background-size: cover ;
    transform: skewY(-7deg);
    margin-top: -12rem;
    min-height: 74rem;

    & > * {
      transform: skewY(7deg);
    }

    @include respond(tab-port) {
      padding: 8rem 0;
    }
}

.section-tours {
  background-color: $color-gray-light-1;
  padding: 30rem 0 15rem 0;
  margin-top: -10rem;

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}


.section-stories{
  // background-color: rgba($color-gray-light-1, .85);
  padding: 15rem 0;
  position: relative;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 12rem 0;
  background-image: linear-gradient(to bottom right, $color-primary-light, $color-primary-dark);
  
  

}

.book {  

  border-radius: $border-radius;
  box-shadow: $shadow_1;

  position: relative;
  z-index: 1;
  
  
  &::after {
    // I have used the ::after for the background so if i change its
    // opacity it will not affect other elements. (not in course)
    content: "";
    border-radius: $border-radius;
    background-image: linear-gradient(
                            105deg, 
                            rgba($color-white, .85) 0%,
                            rgba($color-white, .85) 50%,
                            transparent 50%
                    ),
                    url('../img/nat-10.jpg');


    background-size: cover; //or 100%

    opacity: .8; // <-   
                 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

  &__form {
    width: 50%;
    padding: 6rem;
    z-index: 1;
  }
}

