<%- contentFor('main') %>

<main>
    <% if( errorMessage.length > 0 ) {%>
        <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
    <form class="login-form" action="" method="POST">
        <div class="form-control">
            <label for="title">E-Mail</label>
            <input type="email" name="email" id="email">
        </div>
        <div class="form-control">
            <label for="imageUrl">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <input type="hidden" value="<%= csrfToken %>" name="_csrf">

        <button class="btn" type="submit">Login</button>
    </form>
</main>