<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Contact Form</title>
</head>
<body>
    <div class="container-form">
        <form action="#">
            <div class="title">
                <h1>Sign Up</h1>
                <hr>
            </div>
        
    
        <label for="inp-email">Email</label>
        <input type="text" name="inp-email" id="inp-email" class="btn btn-email">
    
        <label for="inp-password1">Password</label>
        <input type="password" name="inp-password" id="inp-password" class="btn btn-password">
        
        <label for="inp-password2">Repeat Password</label>
        <input type="password" name="inp-password2" id="inp-password2" class="btn btn-password">
        

        <label for="inp-gender">Gender</label>
        <select name="inp-gender" id="inp-gender" class="btn btn-select">
            <option value="mr">Male</option>
            <option value="mr">Female</option>
            <option value="mr">Other</option>
        </select>

        <label for="inp-website">Website</label>
        <input type="text" name="inp-website" id="inp-website" class="btn btn-website">

        <label for="inp-bday">Your Birthday</label>
        <input type="date" name="inp-bday" id="inp-bay" class="btn btn-bday">


        <input type="submit" value="Submit" class="btn btn-sub">
        </form>
    </div>
</body>
</html>