.header {
    height: 85vh;
    background-image: linear-gradient(
        to right bottom, rgba($color-primary-light, 0.5), rgba( $color-primary-dark, 0.5)) , 
        url(../img/hero-small.jpg
    ); 

    background-size: cover;
    background-position: top;    
    position: relative;
    
    @supports(clip-path: polygon(0 0)) {                                // NOTE: Support Chapter 6, Video 11
        height: 95vh;
        clip-path: polygon(0 0 , 100% 0, 100% 75vh, 0% 100%);


        @include respond (phone) {
            clip-path: polygon(0 0 , 100% 0, 100% 85vh, 0% 100%);       
        }
    }

    @media  only screen and (min-width: 75em) ,                                 // NOTE: Chapter 6, Video 9
            only screen and (min-width: 37.5em) and (min-resolution: 192dpi) {
        background-image: linear-gradient(
            to right bottom, rgba($color-primary-light, 0.5), rgba( $color-primary-dark, 0.5)) , 
            url(../img/hero.jpg
        );  
    }



    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 3rem;
    }

    &__logo {
        height: 4rem;

        animation: iconHeader 3.7s ease-out  .3s backwards;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
    
        transform: translate(-50%, -50%);
    
        text-align: center;
    }
}