{% extends 'base.html' %}

{% block title %} my-user-page {% endblock %}

{% block content %}


    <div style="margin: 30px;">
        <div class="card" style="width: 18rem;">
            <p class="card-text">Welcome, {{ username }}</p>
            <p class="card-text" style="font-size: 10px;">{{ password }}</p>
            <img src="{{url_for('static', filename='duck-big-bill.webp')}}" class="card-img-top"
            alt="duck_image">
    
            <p class="card-text">Do Ducks Have Teeth?</p>
            <form action="{{ url_for('session_page') }}" method="POST" style="text-align: center; width: 100%;">
                <input type="email" style="width: 100%;" name="email" placeholder="Insert your email here!" value="{{ email if email }}">
                <input type="submit" class="btn btn-primary" id="submit1">
            </form>
    
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for msg in messages %}   
        <li style="color: brown;">{{ msg }}</li>             
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
{% endblock %}