*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
}

// _____________________________________________________________________

.mb-tn {margin-bottom: 1rem;}
.mb-sm {margin-bottom: 2rem;}
.mb-md {margin-bottom: 3rem;}
.mb-lg {margin-bottom: 4rem;}
.mb-bg {margin-bottom: 6rem;}
.mb-hg {margin-bottom: 8rem;}

.mt-tn {margin-top: 1rem;}
.mt-sm {margin-top: 2rem;}
.mt-md {margin-top: 3rem;}
.mt-lg {margin-top: 4rem;}
.mt-bg {margin-top: 6rem;}
.mt-hg {margin-top: 8rem;}

// _____________________________________________________________________


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');



.heading-1 {
    
    font-size: 3.6rem;    
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;    
}

.heading-2 {
    
    font-size: 2rem;    
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;    
}


.text {
    font-family: 'Quicksand', 'Source Sans Pro';
    font-size: 2rem;
}

// _____________________________________________________________________
// Components

.btn {
    border: none;
    border-radius: .5rem;
    background-color: $color-primary-dark;
    padding: .8rem;
    font-size: 1.6rem;
    color: #fff;
  
    cursor: pointer;
    transition: all .2s;
  
    &:active {
      transform: scale(.98);
      box-shadow: 0 .2rem 1rem rgba(#000, .2);
    }
  
  }