{% extends './base.html' %}

{% block body %}
<div class="row pad">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <!-- Block User -->
            <div class="panel-heading big">
                Block/Unblock - User
                <div class="row pad">
                    <form action="{{ url_for('admin')}}" method="POST">
                        {{ form.csrf_token }}
                        <div class="col-lg-4">
                            <!-- <select name="sel-opt-user" id="sel-opt-user" class="form-control"
                                style="width: 300px; height: 30px;">
                                <option value="id" selected>id</option>
                                <option value="email">email</option>
                                <option value="username">username</option>
                            </select> -->
                            {{ form.select_by(class="form-control", style="width: 300px; height: 30px;") }}

                        </div>
                        <div class="col-lg-6">
                            <!-- <input name="id-email" id="id-email" class="form-control"
                                style="width: 300px; height: 30px;"> -->
                            {{ form.user_data(class="form-control", style="width: 300px; height: 30px;") }}
                        </div>
                        <p>
                            <input type="submit" id="submit" class="btn btn-primary" name="submit1" value="Search User"
                                style="color: rgb(51, 51, 51); background-color: white; width: 120px;">
                        </p>


                    </form>
                </div>
            </div>

            {% if blk_user %}
            <div class="panel-body">
                <div class="row">
                    <form action="#">

                        <div class="col-lg-2">
                            <select name="" id="" class="form-control" style="height: 30px;">
                                <option value="block" selected>block</option>
                                <option value="unblock">unblock</option>
                            </select>
                        </div>

                        <div class="col-lg-2">
                            <p>
                                <b>ID: &nbsp&nbsp</b> 12
                            </p>
                        </div>
                        <div class="col-lg-4">
                            <p>
                                <b>email: &nbsp&nbsp</b> james@gmail.com
                            </p>
                        </div>
                        <div class="col-lg-2">
                            <p>
                                <b>name: &nbsp&nbsp</b> James Gauci
                            </p>
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}

            <!-- End - Block User -->
            <!-- Block Admin -->
            <div class="panel-heading big">
                Set User to Admin
                <div class="row pad">
                    <form action="{{ url_for('admin')}}" method="POST">
                        {{ form.csrf_token }}
                        <div class="col-lg-4">
                            <!-- <select name="sel-opt-user" id="sel-opt-user" class="form-control"
                                style="width: 300px; height: 30px;">
                                <option value="id" selected>id</option>
                                <option value="email">email</option>
                                <option value="username">username</option>
                            </select> -->
                            {{ form.select_by(class="form-control", style="width: 300px; height: 30px;") }}

                        </div>
                        <div class="col-lg-6">
                            <!-- <input name="id-email" id="id-email" class="form-control"
                                style="width: 300px; height: 30px;"> -->
                            {{ form.user_data(class="form-control", style="width: 300px; height: 30px;") }}
                        </div>
                        <p>
                            <input type="submit" id="submit" class="btn btn-primary" name="submit1" value="Search Admin"
                                style="color: rgb(51, 51, 51); background-color: white; width: 120px;">
                        </p>


                    </form>
                </div>
            </div>

            {% if set_admin %}
            <div class="panel-body">
                <div class="row">
                    <form action="#">

                        <div class="col-lg-2">
                            <select name="" id="" class="form-control" style="height: 30px;">
                                <option value="block" selected>block</option>
                                <option value="unblock">unblock</option>
                            </select>
                        </div>

                        <div class="col-lg-2">
                            <p>
                                <b>ID: &nbsp&nbsp</b> 12
                            </p>
                        </div>
                        <div class="col-lg-4">
                            <p>
                                <b>email: &nbsp&nbsp</b> james@gmail.com
                            </p>
                        </div>
                        <div class="col-lg-2">
                            <p>
                                <b>name: &nbsp&nbsp</b> James Gauci
                            </p>
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}

            <!-- End - Admin User -->


        </div>
    </div>
</div>
{% endblock %}