@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$col-black: rgb(0, 0, 0);
$col-red: crimson;
$col-blue: navy;
$col-green: green;


// ---------------------------------------------------------------------
//
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding:0;
    outline: none;   
}

html {
    font-size: 62.5%;    
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    box-sizing: border-box;
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
    
}

//----------------------------------------------------------------------

.container {

    position: relative;
    
    width: 95vw;
    max-width: 100rem;
    padding: 2rem 2rem;    
    margin: 0 auto;

    h2 {
        padding-left: 2rem;
        padding-bottom: .75rem;
        color: $col-black;
        margin-top: 5rem;
        margin-bottom: 2rem;
        font-size: 3rem;
        border-bottom: 1px solid rgb(0,0,54);
    }
    section {
        // border: 1px solid  $col-black;
        padding: 2rem 2rem;
        margin-bottom: 3rem;
        border-bottom: 1px solid rgb(0,0,54);
    }

    h3 {
        margin-bottom: 1.5rem;
        text-decoration: underline;
        color: $col-black;
    }

    .question {
       margin-bottom: 1rem;
       color: $col-blue;
    }

    .result {
        color: $col-green; 
        font-size: 1.5rem;
        font-family: 'Fira Code',Verdana, Geneva, Tahoma, sans-serif; 
        span.danger {
            color: $col-red; 
        }
    }    
}


.btn-light {
    font-size: 1.2rem;
    padding: .2rem 1rem;
  }
  
  .containerAA, .form-control, .btn-success-1, .btn-info-1, .form-check, .btn-secondary {
    font-size: 100% !important;
    margin-bottom: 1rem;
    }
  .custom-select {
    // background-color: red;
    height: 3.5rem;
    border-radius: 0 !important;
  }
  
  .containerAA {
    /* border: #000036 1px dashed; */
    margin-left: -4rem !important;
    
  }
  
  .btn-success-1, .btn-info-1 {
    margin-bottom: -3rem;
  }

  .btn-info-1 {
    margin-left: 2rem !important;
  } 
  
  .form-check-label {
    margin-left: 1rem;
    margin-right: 4rem;
    transform: translateY(-1px);
  }
  
  .contact {
    padding: 0 2rem;
  }

  .form-check2 {
    // display: inline-block !important;
    margin-left: 2rem;
    transform: translateY(7px);
  }

  .row1 {
    margin-top: 2rem;
    margin-left: -2rem !important;
  }

  .btn-secondary {
    margin-top: 1rem;
  }
  $col-payslip: #6c757d;
.payslip {
  // border: $col-payslip 1px solid;
  border-bottom: none;
  color: $col-payslip;
  font-size: 1.4rem;
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);


  &__left, &__right {
    border-bottom: $col-payslip 1px solid;
    color: $col-payslip;
    padding: .5rem 1rem;
  }

  &__left {
    font-weight: 600;
    text-transform: uppercase;
    border-left: $col-payslip 1px solid;
    
  }
  &__right {
    border-right: $col-payslip 1px solid;
    // border-top: $col-payslip 1px solid;
    margin: none;
  }

  &__left--bottom, &__left--top,
  &__right--bottom, &__right--top {
    background-color: $col-payslip;
    width: 100%;
    height: 1.2rem;
  }


  &__left--top {
    border-top-left-radius: .8rem;
  }

  &__right--top {
    border-top-right-radius: .8rem;
  }
  &__right--bottom {
    border-bottom-right-radius: .8rem;
  }
  &__left--bottom {
    border-bottom-left-radius: .8rem;
  }
}
