// Colors
$col-blue: #11A9ED;
$col-orange: #ED7E00;
$col-green: #50B012;

$col-white: #FFFFFF;
$col-black: #000000;

$col-gray-1: #F2F2F2;
$col-gray-2: #E5E5E5;
$col-gray-3: #717171;
$col-gray-4: #5F5F5F;
$col-gray-5: #252525;
$col-gray-6: #1A1A1A;

$col-trans: rgba(rgb(0, 255, 179), 0.2);

// Fonts
$font-main: 'Open Sans', sans-serif;

