*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding:0;
    outline: none;   
}

html {
    font-size: 62.5%;    
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.container {
    
    width: 95vw;
    max-width: 100rem;
    padding: 2rem 2rem;    
    margin: 2rem auto;

    h2 {
        padding-left: 2rem;
        padding-bottom: .75rem;
        color: rgb(0, 0, 54);
        margin-bottom: 2rem;
        font-size: 3rem;
        border-bottom: 1px solid rgb(0,0,54);
    }
    section {
        // border: 1px solid  rgb(0, 0, 54);
        padding: 2rem 2rem;
        margin-bottom: 3rem;
        border-bottom: 1px solid rgb(0,0,54);
    }

    h3 {
        margin-bottom: 1.5rem;
        text-decoration: underline;
        color: rgb(0, 0, 54);
    }

    p {
       margin-bottom: 1rem;
       color: rgb(0, 0, 54);
    }

    .answer {
        color: rgb(3, 59, 28); 
        span.danger {
            color: crimson; 
        }
    }



    
}