@mixin clearfix {
    &::after{
        content: '';
        display: table;
        clear: both;
    }
}
@mixin pos_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


// ----- MEDIA QUEARY MANAGER

/*

0   - 600       Phone
600 - 900       Tablet portrait
900 - 1200      Tablet landscape
1200 - 1800     Normal
1800+           Big desktop

1em = 16px

ORDER TO ADD THE RESPOND MIXEN
Base + typography >general layout + grid > page layout >components

*/

@mixin respond($breakpont) {
    @if $breakpont == phone {
        @media (max-width: 37.5em) { @content };                        //600px
    }
    @if $breakpont == tab_port {
        @media (max-width: 56.25em) { @content };                       //900px
    }
    @if $breakpont == tab_land {
        @media (max-width: 75em) { @content };                          //1200px
    }
    // @if $breakpont == normal {
    //     @media (max-width: 112.5em) { @content };                    //1800px
    // }
    @if $breakpont == big_desktop {
        @media (min-width: 112.5em) { @content };                       //1800px
    }
}