.page{
    background-color: $col-gray-1;
    min-height: 100vh;
    margin: 0 auto;
    z-index: 0;
    margin-top: 6rem;
    margin-left: 5rem;
    transition: all .15s ease;
}

.sidebar:hover ~ .page{
    margin-left: 21rem;
    }
