{% extends 'base.html' %}

{% block title %}Python Flask Chapter2{% endblock %}


{% block content %}

{# <!--Now we added a 'for' loop instade of a 'condition'--> #}
<h2>List of numbers</h2>
{% for x in list_of_numbers %}
<h4>{{x}}</h4>
{% endfor %}

<br>

<h2>List of dictionaries</h2>
{% for x in list_of_dict %}
<h4>{{x.name}}</h4>
{% endfor %}

<br>

{# <!--Adding an image file--> #}
<h2>Image file - Cardano ADA</h2>
<img src="{{ url_for('static', filename='Cardano ADA.png') }}"
alt="Cardano image" width="500">
 
{# <!--here we are including a template from another template--> #}
{% include 'include.html' %}

{% endblock %}
