<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" type="image/jpg" href="../static/icons/sound-waves.png"/>
</head>
<body>         

        <input type="checkbox" class="burger__checkbox" id="burger__checkbox">
        <label for="burger__checkbox" class="burger__label">
            <svg><use xlink:href="../static/icons/mycollection/sprite.svg#down-chevron"></use></svg>
        </label>

    

        <div class="sidebar">

            <div class="sidebar__title sidebar__title--open">connect</div>
            <div class="sidebar__title sidebar__title--close">c</div>

            <a href="#" class="sidebar__item">
                <div class="sidebar__icon">
                    <svg><use xlink:href="../static/icons/mycollection/sprite.svg#home"></use></svg>                    
                </div>
                <div class="sidebar__text">Dashbord</div>
            </a>

            <a href="#" class="sidebar__item sidebar__close">
                <div class="sidebar__icon">
                    <svg><use xlink:href="../static/icons/mycollection/sprite.svg#user-2"></use></svg>                    
                </div>
                <div class="sidebar__text">Profile</div>
            </a>



            <div class="settings">

                <div class="sidebar__item settings__main" >
                    <div class="sidebar__icon">
                        <svg><use xlink:href="../static/icons/mycollection/sprite.svg#gear"></use></svg>                    
                    </div>
                    <div class="sidebar__text" >Settings</div>
                    <div class="sidebar__icon sidebar__icon--arrow">
                        <svg><use xlink:href="../static/icons/mycollection/sprite.svg#down-chevron"></use></svg>                    
                    </div>
                </div>

                <a href="#" class="sidebar__item sidebar__hidden sidebar__item--small settings__sub">
                    <div class="sidebar__icon">
                        <svg></svg>                    
                    </div>
                    <div class="sidebar__text">
                        <svg><use xlink:href="../static/icons/mycollection/sprite.svg#plus"></use></svg>
                        Add Device
                    </div>
                </a>
                <a href="#" class="sidebar__item sidebar__hidden sidebar__item--small settings__sub">
                    <div class="sidebar__icon">
                        <svg></svg>                    
                    </div>
                    <div class="sidebar__text">
                        <svg><use xlink:href="../static/icons/mycollection/sprite.svg#zzz-sleep-symbol"></use></svg>
                        Sleep Mode Off
                    </div>
                </a>
                <a href="#" class="sidebar__item sidebar__hidden sidebar__item--small settings__sub">
                    <div class="sidebar__icon">
                        <svg></svg>                    
                    </div>
                    <div class="sidebar__text">
                        <svg><use xlink:href="../static/icons/mycollection/sprite.svg#zzz-sleep-symbol"></use></svg>
                        Sleep Mode On
                    </div>
                </a>
   
            </div>

            <div class="sidebar__separator"></div>

            <a href="#" class="sidebar__item sidebar__close">
                <div class="sidebar__icon">
                    <svg><use xlink:href="../static/icons/mycollection/sprite.svg#idea"></use></svg>                    
                </div>
                <div class="sidebar__text">Lighting</div>
            </a>



        </div>
        <div class="navbar">

            <div class="navbar__icon lessons"><a href="http://localhost/ice_malta/php/lesson_12/"><i class="fas fa-sort-amount-up"></i></a></div>
            <div class="navbar__profile">
                <img src="../static/images/img1.jpg" alt="">
            </div>
            
        </div>
    <div class="page sidebar__close">
    </div>
    <script src="../static/js/popper_2.10.1.min.js"></script>
    <script src="../static/js/tippy_6.3.1-bundle.umd.min.js"></script>
    <script src="../static/js/script.js"></script>

</body>
</html>