{{template "admin" .}}

{{define "page-title"}}
    Reservations Calandar
{{end}}

{{define "content"}}
{{$now := index .DataMap "now"}}
{{$rooms := index .DataMap "rooms"}}
{{$dim := index .IntMap "days_in_month"}}
{{$curMonth := index .StringMap "this_month"}}
{{$curYear := index .StringMap "this_month_year"}}

    <div class="col-md-12">


        <div class="text-center">
            <h3>{{formatDate $now "January"}} {{formatDate $now "2006"}}</h3> 
        </div>

        <div class="float-start">
            <a href="/admin/reservation-calendar?y={{index .StringMap "last_month_year"}}&m={{index .StringMap "last_month"}}" class="btn btn-sm btn-outline-secondary">&lt;&lt;</a>
        </div>
        <div class="float-end">
            <a href="/admin/reservation-calendar?y={{index .StringMap "next_month_year"}}&m={{index .StringMap "next_month"}}" class="btn btn-sm btn-outline-secondary">&gt;&gt;</a>
        </div>
        <div class="float-right"></div>
        <div class="clearfix"></div>


        <form method="post"  action="/admin/reservation-calendar">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            {{range $rooms}}

            {{$roomID := .ID}}

            {{$blocks := index $.DataMap (printf "block_map_%d" .ID)}}
            {{$reservations := index $.DataMap (printf "reservation_map_%d" .ID)}}

            <h4 class="mt-4">
                {{.RoomName}}
            </h4>
            <div class="table-responsive">
                <table class="table table-bordered table-sm">
                    <tr class="table-dark">
                        {{range $index := iterate $dim}}
                        <td class="text-center" style="padding: 0.75rem .5rem;">
                            {{add $index 1}}
                        </td>
                        {{end}}
                    </tr>
                    <tr>
                        {{range $day := iterate $dim}}
                            <td class="text-center" style="padding: 0.75rem .5rem;">
                                {{if gt (index $reservations (printf "%s-%s-%d" $curYear $curMonth $day)) 0}}
                                <a href="/admin/reservations/cal/{{index $reservations (printf "%s-%s-%d" $curYear $curMonth $day)}}">
                                        <span class="text-danger">R</span>
                                    </a>
                                {{else}}
                                    <input 
                                    {{if gt (index $blocks (printf "%s-%s-%d" $curYear $curMonth $day)) 0}} 
                                        checked
                                        name="remove_block_{{$roomID}}_{{printf "%s-%s-%d" $curYear $curMonth $day}}"
                                        value="{{index $blocks (printf "%s-%s-%d" $curYear $curMonth $day)}}" 
                                    {{else}}
                                        name="add_block_{{$roomID}}_{{printf "%s-%s-%d" $curYear $curMonth $day}}" 
                                        value="1"
                                    {{end}}
                                        type="checkbox">
                                {{end}}   
                            </td>
                        {{end}}
                    </tr>
                </table>
            </div>
            {{end}}
            <hr>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>

{{end}}