<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Babel Example</title>
</head>
<body>
    <h3>US Numbers: {{ results['us_num'] }}</h3>
    <h3>US Currency: {{ results['us_cur'] }}</h3>
    <h3>US Date: {{ results['us_date'] }}</h3>
    <h3>US Time: {{ results['us_time'] }}</h3>
    <hr>
    <h3>SE Numbers: {{ results['se_num'] }}</h3>
    <h3>SE Currency: {{ results['se_cur'] }}</h3>
    <h3>SE Date: {{ results['se_date'] }}</h3>
    <h3>SE Time: {{ results['se_time'] }}</h3>
    <hr>
    <h3>MT Numbers: {{ results['mt_num'] }}</h3>
    <h3>MT Currency: {{ results['mt_cur'] }}</h3>
    <h3>MT Date: {{ results['mt_date'] }}</h3>
    <h3>MT Time: {{ results['mt_time'] }}</h3>
    <hr>
    <h3>{{ current }} {{ _('Language') }}: {{ current_locale }}</h3>
    <h3>Current Numbers: {{ results['current_num'] }}</h3>
    <h3>Current Currency: {{ results['current_cur'] }}</h3>
    <h3>Current Date: {{ results['current_date'] }}</h3>
    <h3>Current Time: {{ results['current_time'] }}</h3>
</body>
</html>