{{ define "base" }}
<!DOCTYPE html>
<html lang="en">

<!-- head -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>This is the title of the page</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker-bs5.min.css">

    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">

    <link rel="stylesheet" href="./static/css/styles.css">
    {{ block "css" . }}{{ end }}

</head>

<!-- body -->

<body>

    <!-- nav -->
    {{ template "nav" . }}

    <!-- content -->
    {{ block "content" . }}{{ end }}

    <!-- footer -->
    {{ template "footer" . }}

    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js"></script>

    <script src="https://unpkg.com/notie"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {{ block "js" . }}{{ end }}

    <script>

        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()


        const elem = document.getElementById('reservation-dates');
        const rangepicker = new DateRangePicker(elem, {
            // ...options
            format: "yyyy-mm-dd",
        });

        function myNotify(msg, msgType = 'success') {

            notie.alert({
                type: msgType, // optional, default = 4, enum: [1, 2, 3, 4, 5, 'success', 'warning', 'error', 'info', 'neutral']
                text: msg,
                stay: false, // optional, default = false
                time: 2, // optional, default = 3, minimum = 1,
                position: 'top' // optional, default = 'top', enum: ['top', 'bottom']
            });
        }

        function myNotifyModal(title, html, icon, confirmButtonText) {

            Swal.fire({
                title: title,
                html: html,
                icon: icon,
                confirmButtonText: confirmButtonText
            })
        }

        function myPrompt() {

            // -----------------------------------------------
            // Function to display a toast notification using SweetAlert2

            const toast = (context) => {
                const {
                    title = '',
                    msg = '',
                    footer = '',
                } = context;

                const Toast = Swal.mixin({
                    toast: true,
                    position: "top-end",
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.onmouseenter = Swal.stopTimer;
                        toast.onmouseleave = Swal.resumeTimer;
                    }
                });

                Toast.fire({
                    icon: "success",
                    title: title,
                    text: msg,
                    footer: footer
                });
            }
            // -----------------------------------------------

            const modalMsg = (context) => {
                const {
                    title = '',
                    msg = '',
                    footer = '',
                    type = '',
                } = context;

                Swal.fire({
                    icon: type,
                    title: title,
                    text: msg,
                    footer: footer
                });
            }

            // -----------------------------------------------

            const customMsg = async (context) => {

                const {
                    title = '',
                    msg = '',
                } = context;


                const { value: formValues } = await Swal.fire({
                    title: title,
                    html: msg,
                    backdrop: false,
                    focusConfirm: false,
                    showCancelButton: true,
                    willOpen: () => {
                        const elem = document.getElementById("reservation-dates-modal");
                        console.log(123);
                        const rangepicker = new DateRangePicker(elem, {
                            format: "yyyy-mm-dd",
                            showOnFocus: true,
                        })
                    },
                    didOpen: () => {
                        document.getElementById('start').removeAttribute("disabled"),
                            document.getElementById('end').removeAttribute("disabled");
                    },
                    preConfirm: () => {
                        return [
                            document.getElementById("start").value,
                            document.getElementById("end").value
                        ];
                    },

                });
                if (formValues) {
                    Swal.fire(JSON.stringify(formValues));
                }
            }
            // -----------------------------------------------

            return {
                toast: toast,
                modalMsg: modalMsg,
                customMsg, customMsg
            }
        }


        const attention = myPrompt();

        let markup = `
          <form id="check-availability-form" action="" method="POST" novalidate class="needs validation">
            <div class="row g-3" id="reservation-dates-modal">
              <div class="col">
                <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
              </div>
              <div class="col">
                <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure">
              </div>
            </div>
          </form>
        `;




        // Example: Display notifications after a delay
        setTimeout(() => {
            // myNotify('Hello World!')
            // myNotifyModal('Success!','<em>Hello World!</em>', 'success', 'Cool')
            // attention.modalMsg({title: 'my title', msg: 'my message', footer: 'my footer', type: 'error'});
            attention.customMsg({ title: 'my title', msg: markup });
        }, 2000)



    </script>
    


</body>

</html>
{{ end }}