body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: $dft-ft-sz;
    line-height: 1.7;
    color: $color-gray-dark;
    
    /* border: 1px solid red; */
  }



.heading-primary {
    color: $color-white;
    text-transform: uppercase;
  
    /* if animaton shakes */
    backface-visibility: hidden;
  
    &--main {
      display: block;
      font-size: 7.5rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      line-height: 1.3;
      animation-name: movingInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
     
      // animation-delay: 1s;
      // animation-iteration-count: 3;
        
        @include respond(phone) {
          letter-spacing: 1rem;
          font-size: 5rem;
        }
    }
    
    &--sub {
      display: block;
      font-size: 2.5rem;
      font-weight: 400;
      letter-spacing: 1.85rem;
      margin-left: -10px;
      animation-name: movingInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out;

      @include respond(phone) {
        letter-spacing: 1rem;
      }
    
      /*
        animation-delay: 1s;
        animation-iteration-count: 3;
        */
    
      margin-bottom: 6rem;
    }
  }
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  letter-spacing: .2rem;
  color: transparent;
  transition: all .1s;

  &:hover {
    transform: skewY(2deg) skew(15deg) scale(1.1); 
    text-shadow: .5rem 1rem 2rem rgba($color-black, .5);
  }
  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

}

.heading-tertiary {
  font-size: $dft-ft-sz;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {

  font-size: $dft-ft-sz;
  // line-height: 3rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }  
}