



.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}
.form-control {
    margin: 1rem 0;
}
.form-control input {
    border: 1px solid gold;
    font-family: inherit;
    border-radius: 2px;
}
.form-control input,
.form-control label {
    display: block;
    width: 100%;
}
button {
    font-family: inherit;
    border: 1px solid navy;
    color: navy;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
}
button:hover, button:active {
    background-color: navy;
    color: white;
}
label {
    color: navy;
}