{{ define "footer" }}

<div class="row sticky-bottom bb-footer">
    <div class="col">
        Left
    </div>
    <div class="col">
        Middle
    </div>
    <div class="col">
        Right
    </div>
</div>

{{ end }}