@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin centerHorVer($i) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, $i);    
}