
// Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;




$color-white: #fff;
$color-black: #000;

$color-gray-light-1:#f7f7f7;
$color-gray-light-2:#eee;
$color-gray-lt: #e2e2e2;
$color-gray-dark: #777;


// Grid
$grid-width: 114rem;
$gutter-vert: 8rem;
$gutter-horz: 6rem;

// Font Sizes
$dft-ft-sz: 1.6rem;

// Shadow 
$shadow_1: 0 1.5rem 3rem rgba( $color-black, $alpha: .3);
$shadow_1h: 0 2.5rem 5rem rgba($color: $color-black, $alpha: .5);