.popup {

    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 200;

    opacity: 0;
    visibility: hidden;

    transition:  all .3s ease;

    @supports  (backdrop-filter: blur(10px)){                           // NOTE: @support chapter 6 , video 11
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, .3);
    }

    


    &__content {
        @include pos_center;
        width: 75%;
        background-color: $color-white;
        box-shadow: $box-shadow-1; 
        border-radius: $border-radius; 
        display: table;                                                 // NOTE:
        overflow: hidden;

        opacity: 0;
        transform: translate(-50%, -50%) scale(.5);                     // NOTE:
        transition: all .4s ease .2s;
        
    }

    &__left {
        width: 33.3333333%;
        display: table-cell;                                            // NOTE:       
                                                                        
    }
    &__right {
        width: 66.6666666%;
        display: table-cell;
        vertical-align: middle;                                         // NOTE:
        padding: 3rem 5rem;
        
    }
    &__img {
        display: block;
        width: 100%;
        object-fit: cover;
        
        
    }
    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        column-count: 2;                                                // NOTE:
        column-gap: 4rem;
        column-rule: 1px solid $color-gray-light-2;

        hyphens: auto;
        text-align: justify;
        
    }



    // ---- Open and close

    &:target {                                                          // NOTE:
        opacity: 1;
        visibility: visible;       
    }

    &:target &__content {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    &__close {
        &:link , &:visited {
            color: $color-gray-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s ease;
            line-height: 1;                                             // NOTE:

            &:hover {
                color: $color-primary;
            }
        }
    }
}