@use './abstracts/' as *;
.realtors {
    background-color: $color-secondary;

    grid-row: 1 / 2;
    grid-column: col-start 7  / full-end;

    // width: 100.2%;
    // transform: translateX(-.2%);
}