<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    RedirectMatch ^/projects/Laravel/chapter_42/public/(de|en|es)/?(.*) /projects/Laravel/chapter_42/public/$2?locale=$1
    RedirectMatch ^/laravel/(de|en|es)/?(.*) /laravel/$2?locale=$1
    RedirectMatch ^/012/(de|en|es)/?(.*) /012/$2?locale=$1

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]


    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>