{{ template "base" . }}

{{ define "content" }}
<div class="container">

    <div class="row">
        <div class="col">
            <img src="/static/images/generals-quarters.png" alt="room image" class="img-fluid img-thumbnail mx-auto d-block room-image">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">General's Quarters</h1>
            <p>
                Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                to remember.
                Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                to remember.
                Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                to remember.
                Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                to remember.
                Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                to remember.
                Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                to remember.
            </p>
        </div>
    </div>


    <div class="row">
        <div class="col text-center">
            <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
        </div>
    </div>

</div>
{{ end }}

{{define "js"}}
<script>
const btn = document.getElementById('check-availability-button');

btn.addEventListener('click', function() {
    let markUp = `
    <form id="check-availability-form" action="reservation.html" method="post" novalidate class="needs-validation">
        <div class="form-row reservation-dates w-100" id="reservation-dates-modal">
            <div class="col">
                <input type="text" disabled class="form-control" id="start" name="start" autocomplete="off" required placeholder="Arrival">
            </div>
            <div class="col">
                <input type="text" disabled class="form-control" id="end" name="end" autocomplete="off" required placeholder="Departure">
            </div>
        </div>
    </form>`;

    attetion.custom({
        msg: markUp, 
        title: "Choose your dates",
        callback: async ()=>{
           const response = await fetch(`/search-availability-json`);
           const data = await response.json();
           console.log(data);
           console.log(data.ok);
           console.log(data.message);
        }
    });
})

</script>
{{ end }}