$color-primary: #ffefea;
$color-primary-dark: #e9967a;

$color-primary: #c5f5e1;
$color-primary-dark: #3ab07f;

$color-gray-1: #333333;

$bp-largest: 75em;
$bp-large:  68.75em;
$bp-big:  58.125em;
$bp-medium:  56.25em;
$bp-small:  37.5em;
$bp-smallest:  27.5em;
$bp-new-small: 22.5em;
