.u-center-text { text-align: center;}

.u-margen-bottom-8 {margin-bottom: 8rem;}
.u-margen-bottom-6 {margin-bottom: 6rem;}
.u-margen-bottom-4 {margin-bottom: 4rem;}
.u-margen-bottom-2 {margin-bottom: 2rem;}
.u-margen-bottom-1 {margin-bottom: 1rem;}


.u-margen-top-2 {margin-top: 2rem;}
.u-margen-left-2 {margin-left: 2rem;}