$color-primary: #173484;
$color-primary-light: #173484;
$color-primary-dark: #173484;



$color-gray-light-1: #f7f7f7;
$color-gray-dark: #777;

$color-white: #fff;
$color-black: #000;

$grid-width: 100rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 8rem