
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.badge-lg {
    font-size: 1rem !important;
}

* {box-sizing:border-box;}
body{display:flex;min-height:100vh;flex-direction:column;margin:0;}
#main{display:flex;flex:1;}
#main>article{flex:1;}
#main>nav,#main>aside{flex:0 0 10vw;background:beige;}
#main>nav{order:-1;}
header,footer{background:yellowgreen;height:7vh;}
// header,footer,article,nav,aside{padding:1em;}
footer,article,aside{padding:1em;}





