.burger {


    &__checkbox {
        display: none;
    }
    &__label {
        width: 3.5rem;
        height: 3.5rem;

        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: .3rem;
        transform: rotate(-90deg);
        position: fixed;
        top: 1.2rem;
        left: 6rem;
        z-index: 5; 
        transition: all .15s ease; 
        transition: transform .4s ease .2s;
        // transition-delay: .2s;
        border: 1px solid rgba($col-gray-3, .5);
        border-radius: 6rem;
        &:hover {
            background-color: rgba(rgb(0, 255, 179), 0.2);
        }
        
        svg {
            height: 1.7rem;
            width: 1.7rem;
            fill: rgba($col-gray-3, .5);
        }
    }

}

.burger__checkbox:checked ~ .burger__label{
    left: 26rem !important;
    transform: rotate(90deg);
    // fill: white;
    // background-color: $col-gray-6;
}
.burger__checkbox:checked ~ .sidebar {
    width: 25rem !important;
}
.burger__checkbox:checked ~ .sidebar .sidebar__title--close {
     display: none;   
}
.burger__checkbox:checked ~ .sidebar .sidebar__title--open { 
    display: block; color: $col-white;    
}
.burger__checkbox:checked ~ .sidebar .sidebar__text{ 
    display: block; 
    font-family: $font-main;
    color: $col-gray-1;
    font-size: 1.6rem;
    margin-left: 1rem;
    font-weight: 500;
}

.burger__checkbox:checked ~ .sidebar .sidebar__icon--arrow svg{ 
    visibility: visible;
    fill: $col-gray-4;

}

