.sidebar {
    background-color: $col-gray-6;
    min-height: 100vh;
    width: 5rem;
    transition: all .15s ease;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;

    border-right: 1px solid $col-black;

    &:hover {
        width: 21rem;
    }

    &__title {
        color: $col-white;
        font-size: 3rem;
        font-family:  'Syncopate';
        padding-top: 1.5rem;
        padding-left: 1.25rem;
        padding-bottom: .5rem;
        transition: all .2s ease;
        height: 6rem;
        margin-bottom: 2rem;
        
        &--close {display: block;}
        &--open {display: none; color: transparent;}
    }

    &:hover   &__title{
        &--close {display: none;}
        &--open {display: block; color: $col-white;}
    }

    &__item {
        
        min-height: 3rem;
        width: 100%;
        padding: 1rem 0 1rem 1.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;       
        text-decoration: none;
        transition: all .15s ease-in;

        
        &--small {
            height: 2rem;
            // margin-bottom: 0.5rem;
            transition: all .2s ease;

            .sidebar__text {
                font-size: 1.4rem !important;
            }
        }

        &:hover {
            background-color: rgba(rgb(0, 255, 179), 0.2);

            .sidebar {
                &__icon {
                    fill: $col-gray-1;
                }
            }
        }
    }

    &__icon {
        fill: $col-gray-4;
        svg {
            height: 2rem;
            width: 2rem;
        }
    }

    &__text {
        display: none;
        color: transparent
    }
    &:hover   &__text{
        display: block; 
        font-family: $font-main;
        color: $col-gray-1;
        font-size: 1.6rem;
        margin-left: 1rem;
        font-weight: 500;
    }

    &__item:hover &__text {
        font-weight: 600;
    }

    &__active {
        background-color: $col-gray-6 !important;
        background-color: rgba(rgb(0, 255, 179), 0.2) !important;
    }
    &__hidden {
        display: none;
    }

    &__separator {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-top:  solid 1.5px $col-black;
    }
}


