{% extends "base.html" %}
{% from "_macro.html" import display_links %}

{% block title %}Question{% endblock %}

{% block nav %}{{ display_links(user, active) }}{% endblock %}

{% block body %}
      <div class="jumbotron">
        <h2>{{question.question_text}}</h2>
        <p>{{question.answer_text}}.</p>
        <p><a class="btn btn-primary btn-lg">Asked By: {{question.asker}}</a></p>
        <p><a class="btn btn-primary btn-lg">Answered By: {{question.expert}}</a></p>
      </div>
{% endblock %}




