{% extends "base.html" %}
{% from "_macro.html" import display_links %}

{% block title %} Delete {% endblock %}

{% block nav %} {{ display_links(user, active) }} {% endblock %}

{% block body %}
      <div class="page-header">
        <h1>Remove Questions</h1>
        <h6>Select question to remove</h6>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="list-group-item">            
            <form  action="{{url_for('remove')}}" method="POST" >
              {% for q in questions %}
              <br >
                <label id><h5><input name="{{ q.question_id }}" type="checkbox" value="{{ q.question_id }}"> 
                <div class="margin">
                {{ q.question_text }}<br>
                {{q.answer_text}}<br>
                Asked by: {{q.asker}} <br>
                Answered by: {{q.expert}} 
                </div> 
                </h5></label>
              {% endfor %}
              <br>
              <input type="submit" value="Remove" >
            </form>
          </div>
        </div><!-- /.col-lg-12 -->
      </div>
{% endblock %}