@mixin button_animation_1 {
    transition: all .07s ease-in-out;
    &:hover{
        transform: scale(1.05);
        box-shadow: 0 1rem 1rem .2rem rgba($col-blk, .1) ;    
    }

    &:active{
        transform: scale(.98);
        box-shadow: 0 1rem 1rem .1rem rgba($col-blk, .1) ;    
    }
    
    &:focus{
        outline: 0;
    }
}

@mixin button_animation_2 {
    transition: all .07s ease-in-out;
    &:hover{
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 1rem rgba($col-blk, .3);
    }
    &:active {
        transform: translateY(-.15rem);
        box-shadow: 0 .5rem .5rem rgba($col-blk, .2);
    }
}