{{ template "base" . }}

{{define "content"}}
<div class="container mt-5">

    <div class="row">
        <div class="col">
            <h1 class="">Choose a Room</h1>            

            {{$rooms := index .DataMap "rooms"}}
                <ul>
                    {{range $rooms}}
                        <li style="text-transform: capitalize;">
                        <a href="/choose-room/{{.ID}}">{{.RoomName}}</a></li>
                    {{end}}
                </ul>
         
        </div>
    </div>
</div>
{{end}}