{{ template "base" . }}

{{define "content"}}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {{$res := index .DataMap "reservation"}}

            <h1 class="text-center">Make A Reservation</h1>
            <p><strong>Reservation Details</strong></p>
            <p class="text-capitalize">Room: {{ $res.Room.RoomName }}</p>
            <p>Arrival: {{ index .StringMap "StartDate" }}</p>
            <p>Departure: {{ index .StringMap "EndDate" }}</p>

            
            <form action="" method="POST" class="needs-validations" novalidate>

                <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
                <input type="hidden" name="start_date" value="{{.StringMap.StartDate}}">
                <input type="hidden" name="end_date" value="{{.StringMap.EndDate}}">
                <input  type="hidden" name="room_id" value="{{$res.RoomID}}">
                
                <!-- creating a variable $res -->

                <div class="form-group mt-3">
					<label for="full_name">Full Name:</label>
					{{with .Form.Errors.Get "full_name"}}<label class="text-danger">{{.}}</label>{{end}}
                    <input class='form-control {{with .Form.Errors.Get "full_name"}}is-invalid{{end}}' 
                    id="full_name" autocomplete="off" type="text" name="full_name" value="{{.DataMap.reservation.FullName}}" required>
                </div>

                <div class="form-group mt-3">
					<label for="email">Email:</label>
					{{with .Form.Errors.Get "email"}}<label class="text-danger">{{.}}</label>{{end}}
                    <input class='form-control {{with .Form.Errors.Get "email"}}is-invalid{{end}}' 
                    id="email" autocomplete="off" type="email" name="email" value="{{$res.Email}}" required>
                </div>

                <div class="form-group mt-3">
					<label for="phone">Phone:</label>
					{{with .Form.Errors.Get "phone"}}<label class="text-danger">{{.}}</label>{{end}}
                    <input class='form-control {{with .Form.Errors.Get "phone"}}is-invalid{{end}}' 
                    id="phone" autocomplete="off" type="tel" name="phone" value="{{$res.Phone}}" required>
                </div>

                <!-- <div class="form-group mt-3">
					<label for="start_date">Start Date:</label>
					{{with .Form.Errors.Get "start_date"}}<label class="text-danger">{{.}}</label>{{end}}
                    <input class='form-control {{with .Form.Errors.Get "start_date"}}is-invalid{{end}}' 
                    id="start_date" autocomplete="off" type="date" name="start_date" value="{{.StringMap.StartDate}}" required>
                </div>

                <div class="form-group mt-3">
					<label for="start_date">End Date:</label>
					{{with .Form.Errors.Get "end_date"}}<label class="text-danger">{{.}}</label>{{end}}
                    <input class='form-control {{with .Form.Errors.Get "end_date"}}is-invalid{{end}}' 
                    id="end_date" autocomplete="off" type="date" name="end_date" value="{{.StringMap.EndDate}}" required>
                </div> -->





                <hr>

                <input type="submit" class="btn btn-success w-100" value="Make Reservation">

            </form>
        </div>
    </div>
</div>
{{end}}