.composition {
    position: relative;
    // height: 40vh;
    // border: dashed red 1px;

    ;
    &__photo {
        width: 55%;
        box-shadow: $shadow_1;
        border-radius: $border-radius;
        position: absolute;
        z-index: 10;
        transition: all .2s ease-in-out;
        outline-offset: 2rem;

        &--p1 {
            left: 0;
            top: -1rem;
        }
        &--p2 {
            right: 0;
            top: 2rem;
        }
        &--p3 {
            left: 20%;
            top: 15rem;
        }

        &:hover {
            transform: scale(1.05) translateY(-.7rem);
            box-shadow: $shadow_1h;
            z-index: 20;
            
            outline: 1.5rem solid $color-primary; 
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}