.form {

    &__group {

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

    }

    &__input {
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        background-color: rgba($color-white, 0.5);
        
        border-radius: $border-radius;        
        border: none;

        font-family: inherit;
        color: inherit;

        border-bottom: .3rem solid transparent;

        width: 90%;
        display: block;

        transition: all .3s ease-in-out;



        &:focus {
            outline: none;
            box-shadow: $shadow_3;
            border-bottom: .3rem solid $color-primary;

            &:required {
                border-bottom: .3rem solid $color-primary;
                outline: none;
            }

            &:invalid {
                border: none;
                outline: none;
                border-bottom: .3rem solid $color-secondary-dark;
            }
         
        }

        // Change color of placeholder
        &::-webkit-input-placeholder{
            color: $color-gray-dark-2;
        }
        &:-moz-placeholder,
        &::-moz-placeholder {
            color: $color-gray-dark-2;
            opacity: 1;     
        }
        

    }
    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s ease-in-out;
        // <input name="q" type="text" autocomplete="off"/>
    }

    // &__input:placeholder-shown ~ &__label // <- general sibling selector, 
                                             // if there are more siblings in between.
    // + adjecent sibling selector
    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-3rem);
    }

    &__radio-group {
        width: 49%;
        display: inline-block;
    
    }

    &__radio-label {
        cursor: pointer;
        font-size: $dft-ft-sz;
        position: relative;
        padding-left: 4rem;
    }

    &__radio-button {

        height: 3rem;
        width: 3rem;
        border: .5rem solid $color-primary;
        border-radius: 50%;
        display: inline-block;

        position: absolute;
        left: 0;
        top: -.4rem;


        &::after {
            
            content: '';
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            background-color: $color-primary;
            
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            opacity: 0;

            transition: all .2s;

        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after  {
        opacity: 1;
    }

    &__radio-input {
        display: none;
    }


}