<!DOCTYPE html>
<html>
    <head>
        <title>SocketIO</title>
    </head>
    <body>
        
        <h3>all</h3>
        <input type="text" id="message">
        <button id="send">Send</button>

        <h3>messages</h3>
        <input type="text" id="msg_message">
        <button id="msg_send">Send</button>

        <h3>notifications</h3>
        <input type="text" id="ntf_message">
        <button id="ntf_send">Send</button>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
        </script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>