
$modal-dur: 1s;

$primary-col: #30336b;
$secondary-col: #be2edd;

$background-col: #f7f7f7;
$background-col-model: rgba(00, 00, 00, 0.6);

$white-col: #fff;

$toggle-col: rgba(0, 0, 0, 0.2);

$border-1: rgba(200, 200, 200, 0.1);

$col-txt: #000000;

$font-heading: 'Raleway';