<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>

    <section id="user-goals">

      <h2>My course goals</h2>

      <input type="text" v-model="enteredGoalValue" />

      <button v-on:click="addGoals()" >Add Goal</button>

      <p  v-if="goalsQty < 1">No goals have been added yet - please start adding some!</p>

      <ul v-else>
        <!-- for loop an Array  -->
        <li v-for="(goal, index) in goals" v-on:click="removeGoal(index)" :key="goal">
          <p>{{goal}} - {{index + 1}}</p>
          <p class="press-me" v-on:click.stop >Press me! I will stay<!/p>
        </li>

      </ul>

      <ul>
        <!-- for loop an Object -->
        <li v-for="(val, key, index) in { 'name': 'Chris', 'age': 37 }"> {{ key }} - {{ val }} - {{ index +1 }}</li>
        <!-- for in number -->
        <li v-for="num in 3"> {{ num }}</li>
      </ul>

    </section>

  </body>
</html>
